<h2>Editar Usuário</h2>
<form action="/user/edit/{{user.id}}" method="POST">
  <label>Nome:</label>
  <input type="text" name="fullname" value="{{user.fullname}}" required>
  <label>Email:</label>
  <input type="email" name="email" value="{{user.email}}" required>
  <label>Curso:</label>
  <select name="major_id">
    {{#each majors}}
      <option value="{{this.id}}" {{#if (eq this.id ../user.major_id)}}selected{{/if}}>{{this.name}}</option>
    {{/each}}
  </select>
  <button type="submit">Salvar</button>
</form>
